<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Impressum
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Herausgeber und inhaltliche Verantwortung für die Blaulicht-App:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Winfried Feldmann und Dr. Christof Eichert<br>
      c/o Karolinger Str. 118 , 40223 Düsseldorf<br>
      <a href="mailto:info@blaulicht-app.org">info@blaulicht-app.org</a><br>
      <a href="https://blaulicht-app.org" target="_blank">blaulicht-app.org</a>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Entwickler und Technische Realisierung der Blaulicht-App:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Elmar Braun & Kay Schecker<br>
      Niederrheinstr. 8a, 40474 Düsseldorf<br>
      <a href="mailto:say-hi-to-elmar-and-kay@blaulicht-app.org">say-hi-to-elmar-and-kay@blaulicht-app.org</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Urheberrechte für Logo, Bilder und Schriften der Blaulicht-App:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Winfried Feldmann, Werbegrafiker<br>
      Karolinger Str. 118 , 40223 Düsseldorf
    </ion-card-content>
  </ion-card>
</ion-content>
