<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>QJGQJZT8BD</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>b2b5877d-0f4f-4507-92cf-776cd3930974</key>
        <string>app-store</string>
    </dict>
</dict>
</plist>
