<section class="bg-light">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
      <div class="col-12 col-lg-8">
        <h2 class="display-4 lh-1 mb-12">Datenschutz</h2>
        <blockquote style="margin-top: 2em" class="blockquote fs-6">
          <ol>
            <li>Wir respektieren den Schutz Deiner persönlichen Informationen! Die Blaulicht-App und die Blaulicht-App Website speichert keinerlei Daten und übermittelt keine Informationen über den Nutzer, die Uhrzeit, den Standort des Geräts oder sonstige Informationen an uns oder Dritte.</li>
            <li>Die Blaulicht-App verwendet ausschließlich folgende Funktionen deines Handys: Taschenlampe/Flashlight, Umschaltung zwischen Rear- und Front-Camera. Eine weitere Integration in diese geräte-internen Funktionen und eine System-Integration der Blaulicht-App in weitere Apps oder Anwendungen auf deinem Handy erfolgt nicht.</li>
            <li>Die Foto- bzw. Video-App deines Handys ist nicht mit der Blaulicht-App verbunden. Diese selbständigen Funktionen Deines Handys können nur über die jeweilige App in deinem Gerät aktiviert und eigenverantwortlich verwendet werden.</li>
            <li>Das Laden der App erfolgt über die jeweiligen App-Stores. Auf deren Datenerhebung haben wir keinerlei Einfluss. Wir erhalten oder verwenden diese Daten zu keiner Zeit. Die Datenverarbeitung liegt in der alleinigen Verantwortung der jeweilige App-Store-Betreiber und erfolgt nach deren eigenen Richtlinien.</li>
            <li>Eine Speicherung und Auswertung der Nutzung der Blaulicht-App durch geräte-interne Logfiles oder automatisierte Analyse-Tools erfolgt nicht.</li>
          </ol>
        </blockquote>
      </div>
    </div>
  </div>
</section>
