::part(background):after {
  background: #D90000 url(./logo.svg) center center no-repeat;
  background-size: contain;

  content: ' ';
  position: absolute;
  top: var(--offset-top);
  left: 0;
  right: 0;
  bottom: var(--offset-bottom);
}

ion-content ion-icon {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: var(--ion-safe-area-top);
  left: 50%;
  transform: translate(-50%, 15px);
  animation: flash 400ms linear infinite;
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}
