<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Was Sie tun können
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Gut zu wissen ....</ion-card-subtitle>
      <ion-card-title>Informationen zu der Blaulicht - App</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2>Darum geht es:</h2>
      <br>
      <p>Du siehst, wie Sanitäter, Feuerwehrleute oder Polizeikräfte bei ihrem Einsatz beleidigt, behindert oder gestört
        werden. Werde aktiv!</p>
      <br>
      <h2>So einfach geht`s:</h2>
      <br>
      <p>Im Fall der Fälle Dein Handy einschalten! Blaulicht-App anklicken! Dein Handy hochhalten und mit dem
        Blaulicht-Logo auf dem Display oder mit dem aktivierten Blitzlicht auf der Rückseite in Richtung Störer
        zeigen!</p>
      <br>
      <p>Am wirkungsvollsten kannst Du handeln, wenn Du weitere Beobachter in Deiner Nähe aufforderst, das Gleiche zu
        tun.
        Lade deshalb möglichst viele Menschen ein, die Blaulicht-App ebenfalls zu installieren. Als Gruppe könnt Ihr
        Eure
        Haltung nachdrücklich zeigen und seid gemeinsam stark!</p>
      <br>
      <p>Die Blaulicht-App zeigt auf dem gesamten Display das Logo „Blaulicht verdient Respekt“ und ist Dein klares
        Statement.</p>

      <ol>
      <li>Option: Aktiviere die Blaulicht-App und halte das Handy mit dem Display in Richtung Störer.</li>
      <br>
      <li>Option: Aktiviere mit einem kurzen Fingerdruck auf die dafür vorgesehene Stelle das Blitzlicht Deines Handys
        und halte das Handy mit der Rückseite in Richtung zu den Störern. Dann blitzt unübersehbar die
        Geräte-Taschenlampe
        rhythmisch auf.</li>
      </ol>

      <p><b>Achtung:</b> Es wird bei der Nutzung des Blitzlichts über die Blaulicht-App keine Foto- oder Video-Aufnahme auf
        Deinem
        Handy gestartet, aber mit dem Blitzlicht klar signalisiert: ich schaue nicht weg, ich beobachte das unwürdige
        Geschehen! Stopp!</p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Datenschutz und technische Hinweise
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ol>
        <li>Wir respektieren den Schutz Deiner persönlichen Informationen! Die Blaulicht-App speichert keinerlei Daten
          und übermittelt keine Informationen über den Nutzer, die Uhrzeit, den Standort des Geräts oder sonstige
          Informationen an uns oder Dritte.
        </li>

        <li>Die Blaulicht-App verwendet ausschließlich folgende Funktionen deines Handys: Taschenlampe/Flashlight,
          Umschaltung zwischen Rear- und Front-Camera. Eine weitere Integration in diese geräte-internen Funktionen und
          eine System-Integration der Blaulicht-App in weitere Apps oder Anwendungen auf deinem Handy erfolgt nicht.
        </li>

        <li>Die Foto- bzw. Video-App deines Handys ist nicht mit der Blaulicht-App verbunden. Diese selbständigen
          Funktionen Deines Handys können nur über die jeweilige App in deinem Gerät aktiviert und eigenverantwortlich
          verwendet werden.
        </li>

        <li>Das Laden der App erfolgt über die jeweiligen App-Stores. Auf deren Datenerhebung haben wir keinerlei
          Einfluss. Wir erhalten oder verwenden diese Daten zu keiner Zeit. Die Datenverarbeitung liegt in der
          alleinigen Verantwortung der jeweilige App-Store-Betreiber und erfolgt nach deren eigenen Richtlinien.
        </li>

        <li>Eine Speicherung und Auswertung der Nutzung der Blaulicht-App durch geräte-interne Logfiles oder
          automatisierte Analyse-Tools erfolgt nicht.
        </li>
      </ol>
    </ion-card-content>
  </ion-card>
</ion-content>
